.speaker {
  margin: 250px 0;
	// small
	@media screen and (max-width: 39.938em) {
		padding-top: 0;
		margin: 100px 0 300px 0;
	}
	&.right {
		text-align: right;
		.single_speaker{
			.image_container {		
				.featured_image{
					// medium
					@media screen and (max-width: 63.938em) {
						margin-top: 0;
					}
				}
				.switch_content {
					left: auto;
					right: -60px;
					// small
					@media screen and (max-width: 39.938em) {
						right: 20px;
					}
				}
			}
			.info_container {
				padding-right: 30px;
				// small
				@media screen and (max-width: 39.938em) {
					padding: 0 20px 0 0;
				}
				.speaker_title {
					width: 100%;
					@include translate(80px, 0);
					text-align: right;
					&:after {
						@include translate(-80px, 0);
						position: absolute;
						right: 0;
					}
					// small
					@media screen and (max-width: 39.938em) {
						@include translate(0, 0);
						&:after {
							@include translate(0, 0);
						}
					}
				}
				.speaker_description {
					margin-top: 80px;
				}
			}
			.talk_preview_info {
				padding-right: 30px;
				// small
				@media screen and (max-width: 39.938em) {
					padding: 0 20px 0 0;
				}
			}
		}
	}
	.single_speaker {
		.image_container {
			position: relative;	
			.featured_image {
				object-fit: cover;
				margin-top: -50px;
				@include super_width(380px);
				opacity: 1;
				@include transition(.2s);
				margin-left: 0;
				box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
				// medium
				@media screen and (max-width: 63.938em) {
					margin-top: 0;
					@include super_width(100%);
				}
				// small
				@media screen and (max-width: 39.938em) {

				}
			}
			.switch_content {
				cursor: pointer;
				border-bottom: 2px solid transparent;
				user-select: none;
				@include general-ui($lightest);
				text-transform: uppercase;
				@include rotate(-90deg);
				position: absolute;
				top: 180px;
				left: -60px;
				// small
				@media screen and (max-width: 39.938em) {
					@include rotate(0deg);
					left: 20px;
					top: 20px;
				}
				&.hide_talk_content {
					display: none;
					@include transition(1s);
				}
			}
		}
		.info_container {
			padding-left: 30px;
			position: relative;
			top: 0;
			z-index: 9999;
			// small
			@media screen and (max-width: 39.938em) {
				padding: 0 0 0 20px;
				margin-top: -110px;
			}
			&.speaker_preview_info{
				opacity: 1;
				left: 0;
				@include transition(.2s);
			}
			&.talk_preview_info {
		    user-select: none;
		    pointer-events: none;
		    height: 0;
				top: -350px;
				opacity: 0;
				right: -100px;
				@include transition(.2s);
				// small
				@media screen and (max-width: 39.938em) {
					top: -290px;
				}
				.speaker_title {
					width: 100%;
					font-size: 40px;
					line-height: 50px;
				}
			}
		  .speaker_suptitle {
		    @include general-ui($lightest);
		    font-size: $fs3;
		    text-transform: uppercase;
		  }
			.speaker_title{
				margin-top: 20px;
				width: 300px;
				color: $lightest;
				@include translate(-80px, 0);
				&:after {
					content: "";
					width: 100px;
					height: 5px;
					@include translate(80px, 0);
					background-color: $lightest;
					margin: 40px 0;
					display: block;
				}
				// small
				@media screen and (max-width: 39.938em) {
					@include translate(0, 0);
					&:after {
						@include translate(0, 0);
					}
				}
			}
			.speaker_description {
				margin-bottom: 50px;
			}
		}
		&.show {
			.image_container {
				.featured_image {
					opacity: 0.4;
					margin-left: 10px;
					@include transition(.2s);
					// small
					@media screen and (max-width: 39.938em) {
						margin-top: 10px;
						margin-left: 0;
					}
				}
				.hide_talk_content {
					display: block;
					border-bottom: 2px solid $lightest;
					@include transition(1s);
				}
				.show_talk_content {
					display: none;
				}
			}
			.info_container {
				&.speaker_preview_info {
					opacity: 0;
					left: -100px;
					@include transition(.2s);
				}
				&.talk_preview_info{
					opacity: 1;
					right: 0;
					@include transition(.2s);
				}
			}
		}
	}
}