.rounded-button {
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 45px;
  background-color: transparent;
  &.white {
    @include general-ui($lightest);
    border: 2px solid $lightest;
    @include transition(.2s);
    &:hover {
      color: $primary;
      background-color: $lightest;
      @include transition(.2s);
    }
  }
}

input[type="submit"] {
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid $primary;
  padding: 5px 45px;
  background-color: transparent;
  @include transition(.2s);
  @include general-ui($primary);
  &:hover {
    background-color: $primary;
    @include transition(.2s);
    @include general-ui($lightest);
    border: 2px solid transparent;
  }
}