section.team {
  padding: 100px 0 20px 0;
  // small
  @media screen and (max-width: 39.938em) {
    padding: 20px 0;
  }
  .team_relation {
    margin-top: 100px;
    // small
    @media screen and (max-width: 39.938em) {
      margin-top: 50px;
      padding-bottom: 50px;
    }
    .relation_single {
      min-height: 300px;
      margin-bottom: 30px;
      position: relative;
      // small
      @media screen and (max-width: 39.938em) {
      }
      .single_avatar {
        display: block;
        width: 180px;
        height: 180px;
        @include cover;
      }

      .member_info {
        position: absolute;
        top: 40px;
        left: 120px;
        z-index: 9999;
        // small
        @media screen and (max-width: 39.938em) {
          left: 100px;
        }
        .single_title {
          color: $lightest;
          font-size: 40px;
          line-height: 40px;
          margin-top: 10px;
          &:after {
            content: "";
            width: 100px;
            height: 5px;
            background-color: $lightest;
            margin: 30px 0;
            display: block;
          }
        }
        .single_role {
        }
        .single_social {
          height: 30px;
          margin-top: 10px;
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-block;
            height: 30px;
            @include clearfix;
            li {
              display: inline-block;
              a {
                width: 30px;
                height: 30px;
                display: block;
                font-family: 'sketchapprome_social' !important;
                font-size: 0;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                &:before {
                  content: "";
                  font-size: 20px;
                  width: 30px;
                  height: 30px;
                  line-height: 30px;
                  display: block;
                  color: $lightest;
                  @include transition(.3s);
                }
                &[href*="facebook"]:before {
                  content: "\ea90";
                }
                &[href*="twitter"]:before {
                  content: "\ea96";
                }
                &[href*="instagram"]:before {
                  content: "\ea92";
                }
                &[href*="linkedin"]:before {
                  content: "\eaca";
                }
                &[href*="google"]:before {
                  content: "\ea8b";
                }
                &[href*="youtube"]:before {
                  content: "\ea9d";
                }
                &[href*="vimeo"]:before {
                  content: "\eaa0";
                }
                &[href*="dribbble"]:before {
                  content: "\eaa7";
                }
                &[href*="behance"]:before {
                  content: "\eaa8";
                }
                &:hover {
                  &:before {
                    color: $darkest;
                  }
                }
              }
            }
          }
        }
      }


    }
  }
}
