// Sans Serif
@mixin general-ui($color) {
  font-family: $PrimaryFont;
  font-size: $fs2;
  font-weight: $fw3;
  line-height: $lh1;
  letter-spacing: $ls3;
  color: $color;
}

.general-ui {
  @include general-ui($lightest);
  text-transform: uppercase;
}

@mixin current-text($color) {
  font-family: $PrimaryFont;
  font-size: $fs3;
  font-weight: $fw1;
  line-height: $lh1;
  letter-spacing: $ls2;
  color: $color;
}

.current-text {
  @include current-text($lightest);
}

@mixin title-huge($color) {
  font-family: $PrimaryFont;
  font-size: $fs7;
  font-weight: $fw3;
  line-height: $lh3;
  letter-spacing: $ls5;
  color: $color;
  // medium
  @media screen and (max-width: 63.938em) {
    font-size: $fs6;
  }
  // small
  @media screen and (max-width: 39.938em) {
    font-size: $fs5;
    line-height: 60px;
  }
}

.title-huge {
  @include title-huge($lightest);
  text-transform: uppercase;
}

@mixin title-small($color) {
  font-family: $PrimaryFont;
  font-size: $fs4;
  font-weight: $fw1;
  letter-spacing: $ls10;
  color: $color;
  // small
  @media screen and (max-width: 39.938em) {
    font-size: $fs3;
  }
}

.title-small {
  @include title-small($lightest);
  text-transform: uppercase;
}

@mixin title($color) {
  font-family: $PrimaryFont;
  font-size: $fs5;
  font-weight: $fw3;
  color: $color;
  line-height: $lh60;
  text-transform: uppercase;
  // medium
  @media screen and (max-width: 63.938em) {
    font-size: 40px;
    line-height: 50px;
  }
}

.title {
  @include title($darkest);
}


