// Sans Serif
@mixin general-ui($color) {
  font-family: $sans;
  font-size: $fs2;
  font-weight: $fw3;
  line-height: $lh1;
  letter-spacing: $ls3;
  color: $color;
}

.general-ui {
  @include general-ui($lightest);
  text-transform: uppercase;
}

@mixin current-text($color) {
  font-family: $sans;
  font-size: $fs3;
  font-weight: $fw1;
  line-height: $lh1;
  letter-spacing: $ls2;
  color: $color;
}

.current-text {
  @include current-text($lightest);
}

@mixin title-huge($color) {
  font-family: $sans;
  font-size: $fs6;
  font-weight: $fw3;
  line-height: $lh2;
  letter-spacing: $ls3;
  color: $color;
}

.title-huge {
  @include title-huge($lightest);
  text-transform: uppercase;
}

@mixin title-small($color) {
  font-family: $sans;
  font-size: $fs4;
  font-weight: $fw1;
  letter-spacing: $ls4;
  color: $color;
}

.title-small {
  @include title-small($lightest);
  text-transform: uppercase;
}

@mixin title($color) {
  font-family: $sans;
  font-size: $fs5;
  font-weight: $fw3;
  color: $color;
}

.title {
  @include title($darkest);
}


