.hero {
	padding-top: 80px;
	height: 100vh;
	position: relative;
  &#numbers_animated {
    @include gradient;
  }

  // small
  @media screen and (max-width: 39.938em) {
    height: 110vh;
  }
	.hero_info {
		@include vertical_align_absolute;
		.hero-suptitle {
			display: inline-block;
      margin-bottom: 30px;
      // small
      @media screen and (max-width: 39.938em) {
        margin-bottom: 0px;
        @include super_width(160px);
      }
		}
    .hero_title_container_desktop {
      position: relative;
      // small
      @media screen and (max-width: 39.938em) {
        display: none;
      }
    }
    .hero_title_container_mobile {
      display: none;
      // small
      @media screen and (max-width: 39.938em) {
        display: block;
      }
    }
		.hero-title {
      position: absolute;
      margin: 0 0 0 -10px;
      text-align: left;
      width: 100%;
      left: 395px;
      // medium
      @media screen and (max-width: 63.938em) {
        left: 375px;
      }
      // small
      @media screen and (max-width: 39.938em) {
        left:0;
        &.hero_title_line_2 {
          top: 120px !important;
          display: block !important;
        }
      }
      &.hero_title_line_1 {
        // medium
        @media screen and (max-width: 63.938em) {
          margin-bottom: 0px;
        }
      }
      &.hero_title_line_2{
        top: 120px;
        // medium
        @media screen and (max-width: 63.938em) {
          top: 100px;
        }
        // small
        @media screen and (max-width: 39.938em) {
          display: none;
        }
      }
		}
    .subtitle_container{
      margin-top: 220px;
      // medium
      @media screen and (max-width: 63.938em) {
        margin-top: 200px;
      }
      // small
      @media screen and (max-width: 39.938em) {
        margin-top: 160px;
      }
      .hero_subtitle {
        display: inline-block;
        margin-top: 30px;
        font-weight: 700;
        &.hero_subtitle_1 {
          &:after {
            content: "";
            display: inline-block;
            width: 100px;
            height: 1px;
            background-color: $lightest;
            margin: 0 10px 7px 10px; 
          }
        }
      }
      .hero_button {
        margin-top: 50px;
      }
    }
	}
}

.title_animate{
  transform: translateX(-50%) rotate(0deg);
  span {
    transform: skew(0deg);
    display: inline-block;
    float: left;
    position: relative;
  }
}
