.hero {
	padding-top: 80px;
	height: 100vh;
	position: relative;
	@include gradient;

	.hero_info {
		@include vertical_align_absolute;
		.hero-suptitle {
			display: inline-block;
      padding-left: 10px;
      margin-bottom: 30px;
		}
		.hero-title {
			display: inline-block;
      float: left;
      left: 50%;
      position: relative;
      margin: 0 0 0 -10px;
      text-align: left;
      &.hero_title_line_1 {
        left: 45%;
        margin-bottom: 5px;
      }
      &.hero_title_line_2{
      }
		}
    .hero_subtitle {
      display: inline-block;
      margin-top: 30px;
      font-weight: 700;
      &.hero_subtitle_1 {
        &:after {
          content: "";
          display: inline-block;
          width: 100px;
          height: 1px;
          background-color: $lightest;
          margin: 0 10px 7px 10px; 
        }
      }
    }
    .hero_button {
      margin-top: 30px;
    }
	}
}


.animation-container {
  position: absolute;
  top: 0;
  right: -600px;
  opacity: 0.3;
  span {
    color: $lightest;
    display: block;
    font-size: 18px;
    font-family: $PrimaryFont;
    font-weight: bold;
    position: absolute;
    user-select: none;
    pointer-events: none;
    cursor: default;
    animation-timing-function: ease-out;
    animation-name: move;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(100vh);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}

.title_animate{
  transform: translateX(-50%) rotate(0deg);
  span {
    transform: skew(0deg);
    display: block;
    float: left;
    min-width: 10px;
    min-height: 10px;
    position: relative;
  }
}
