.hero {
	padding-top: 80px;
	height: 100vh;
	position: relative;
  &#numbers_animated {
    @include gradient;
  }
	.hero_info {
		@include vertical_align_absolute;
		.hero-suptitle {
      animation-delay: 1.3s;
			display: inline-block;
      margin-bottom: 30px;
      // small
      @media screen and (max-width: 39.938em) {
        margin-bottom: 20px;
        @include super_width(160px);
      }
		}
    .hero_title_container_desktop {
      margin-bottom: 50px;
      // small
      @media screen and (max-width: 39.938em) {
        display: none;
      }
    }
    .hero_title_container_mobile {
      display: none;
      // small
      @media screen and (max-width: 39.938em) {
        display: block;
      }
    }
		.hero-title {
      text-align: left;
      margin: 10px 0;
      animation-delay: 1.6s;
		}


    .hero_subtitle {
      display: inline;
      font-weight: 700;
      animation-delay: 1.9s;
      &.hero_subtitle_1 {
        &:after {
          content: "";
          display: inline-block;
          width: 100px;
          height: 1px;
          background-color: $lightest;
          margin: 0 10px 7px 10px; 
        }
      }
    }
    .hero_button {
      margin-top: 50px;
    }

	}
  .scroll_hint{
    @include general-ui($lightest);
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
    @include transition(.4s);
    // small
    @media screen and (max-width: 39.938em) {

    }
    &:after {
      content: "";
      display: block;
      width: 2px;
      height: 50px;
      background-color: $lightest;
      margin: 0 auto;
    }
    span {
      display: inline-block;
      padding-bottom: 20px;
    }
  }
}