.keynote_speaker_hero {
  padding: 200px 0 20px 0;
  @include gradient;
  min-height: 650px;
  @include cover;
  position: relative;
  // small
  @media screen and (max-width: 39.938em) {
    background-position: -700px 0; 
  }
  &:after {
    content: "";
    background-image: url("../images/keynote_speaker_hero_symbols.svg");
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: right;
  }
  .speaker_suptitle {
    @include general-ui($lightest);
    font-size: $fs3;
    text-transform: uppercase;
  }
  .speaker_title {
    margin: 20px 0;
  }
  .speaker_short_description {
    color: $lightest;
  }
}

.keynote_speaker_about, .keynote_speaker_talk {
  padding: 100px 0;
  .about_suptitle {
    color: $primary;
    font-size: $fs3;
    text-transform: uppercase;
  }
  .about_title {
    margin: 20px 0;
    &:after {
      content: "";
      width: 100px;
      height: 5px;
      background-color: $primary;
      margin: 40px 0;
      display: block;
    }
  }
  .speaker_about_text {
    margin: 0;
  }
  .speaker_social {
    ul {
      li {
        float: left;
        margin: 0;
        display: block;
        a {
          display: inline-block;
          color: $dark;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &:before {
            font-family: 'sketchapprome_social';
            font-size: 20px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            font-weight: normal;
            text-indent: 3px;
            margin-right: 10px;
            @include transition(.3s);
          }
          &[href*="facebook"]:before {
            content: "\ea90";
          }
          &[href*="twitter"]:before {
            content: "\ea96";
          }
          &[href*="instagram"]:before {
            content: "\ea92";
          }
          &[href*="linkedin"]:before {
            content: "\eaca";
          }
          &[href*="google"]:before {
            content: "\ea8b";
          }
          &[href*="youtube"]:before {
            content: "\ea9d";
          }
          &[href*="vimeo"]:before {
            content: "\eaa0";
          }
          &[href*="behance"]:before {
            content: "\eaa8";
          }
          &[href*="dribbble"]:before {
            content: "\eaa7";
          }
          &:hover {
            &:before {
              color: $primary;
              @include transition(.3s);
            }
          }
        }
      }
    }
  }
}

.keynote_speaker_talk {
  .talk_text {
    //-webkit-column-count: 2; /* Chrome, Safari, Opera */
    //-moz-column-count: 2; /* Firefox */
    //column-count: 2;
    // small
    p {
      margin: 0;
    }
  }
}

.ticket_CTA {
  min-height: 450px;
  background-color: $primary;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
  &:after {
    content: "";
    background-image: url("../images/keynote_speaker_hero_symbols.svg");
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.1;
    user-select: none;
    pointer-events: none;
    cursor: default;
  }
  .cta_info {
    @include vertical_align_absolute;
    left: 0;
    right: 0;
    .CTA_title {
      color: $lightest;
      margin-bottom: 20px;
    }
    .CTA_subtitle {
      letter-spacing: $ls5;
      margin-bottom: 50px;
    }
  }
}