section.agenda {
  margin-top: 100px;
  .hide {
    display: none !important;
  }
  .show {
    display: block !important;
  }
  .day_tab {
    margin: 50px 0 0 0;
    ul {
      margin: 0 auto;
      padding: 0;
      text-align: center;
      li {
        width: 50%;
        list-style: none;
        display: inline-block;
        float: left;
        text-transform: uppercase;
        letter-spacing: $ls2;
        background-color: transparent;
        border: 2px solid $lightest;
        border-bottom: none;
        padding: 10px 0;
        color: $lightest;
        font-weight: bold;
        margin:0;
        @include transition(.2s);
        cursor: pointer;
        &:hover {
          @include transition(.2s);
        }
        &.selected {
          background-color: $lightest;
          color: $primary;
        }
      }
    }
  }

  .agenda_container {
    padding: 100px 0;
    background-color: $lightest;
    margin:0;
    .agenda_schedule {
      .hour {
        color: $primary;
        font-size: 30px;
        font-weight: bold;
        padding: 0;
        margin: 33px 0 0 0;
      }
      .talk_cell {
        padding: 30px 0;
        margin: 0;
        border-bottom: 1px solid $primary;
        // small
        @media screen and (max-width: 39.938em) {
          min-height: auto;
        }
        .talk_type {
          color: $primary;
          // small
          @media screen and (max-width: 39.938em) {
            margin-top: 20px;
          }
        }
        .talk_title {
          display: inline-block;
          font-size: 30px;
          line-height: 40px;
        }
      }
      .other_container{
        .other_cell {
          background-color: $primary;
          margin: 50px 0;
          padding: 10px 0;
          outline: 20px solid $primary;
          // small
          @media screen and (max-width: 39.938em) {
            text-align: left;
            margin: 30px 0;
          }
          .hour {
            color: $lightest;
            margin: 3px 0 0 0;
          }
          .title {
            font-size: 30px;
            line-height: 40px;
            color: $lightest;
          }
          &.grey {
            background-color: #F2F2F2;
            outline: 20px solid #F2F2F2;
            .hour {
              color: $primary;
            }
            .title {
              color: $darkest;
            }
          }
        }
      }
    }
    .schedule_0 {
    }
    .schedule_1 {
      display: none;
    }
  }

} 