// Color
$darkest: #1A1A1A;
$dark: #666;
$medium: #999;
$light: #EEE;
$lightest: #FFF;
$primary: #F9B047;

// Typography
$montserrat: 'Montserrat', sans-serif;
$sans: $montserrat;

// Font Size
$fs1: 10px;
$fs2: 12px;
$fs3: 14px;

// Line Height
$lh1: 20px;

// Font Weight
$fw1: 300;
$fw2: 400;
$fw3: 700;

// Letter Spacing
$ls1: 1px;
$ls2: 2px;
$ls3: 3px;

// z-index
$zi1: 100;
$zi2: 200;
$zi3: 300;
$zi4: 400;
$zi5: 500;
$zi6: 10000000;