/* PRELOADER */
.preloader{ width:100%; height:100%; position:fixed; left:0; top:0; z-index:$zi6; overflow: hidden;}
.preloader .loader-inner{ width:100%; height:100%; float:left; text-align:center; background:#FDFDFD; position:fixed; overflow:hidden;}
.preloader .bg-1{ width:100%; height:100%; position:absolute; left:0; top:0; background:$primary; z-index:1; -webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);transform: translateY(-100%);}
.preloader .bg-2{ width:100%; height:100%; position:absolute; left:0; top:0; background: linear-gradient(237deg, $primary 37%, $secondary 100%); z-index:1; -webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);transform: translateY(-100%);}
.page-loaded{ margin:0;}
.page-loaded .bg-1{-moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; transition-delay: .5s; -webkit-transform: translateY(0);-moz-transform: translateY(0);transform: translateY(0); transition-timing-function: cubic-bezier(.85,0,.15,1); -webkit-transition-timing-function: cubic-bezier(.85,0,.15,1);}
.page-loaded .bg-2{-moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; transition-delay: .9s; -webkit-transform: translateY(0);-moz-transform: translateY(0);transform: translateY(0);}
.page-loaded .preloader{  -moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease; transition-delay: 0.1s; visibility:hidden;}
.page-loaded .preloader .loader-inner{ opacity:0; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; transition-delay: 1.5s; }
.page-loaded .preloader .inner img{-moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -ms-transition: all 0.5s ease; transition: all 0.5s ease; transition-delay: .2s; opacity:0;}
.page-loaded .navbar-default{-webkit-transform: translateY(0);-moz-transform: translateY(0);transform:translateY(0);transition-delay: 1.5s;}


/* PAGE TRANSITION */
.page-transition{ width:100%; height:100%; position:fixed; left:0; top:0; opacity:0; padding:20px; visibility:hidden; z-index:13;}
.page-transition .inner{ width:100%; height:100%; float:left; background:#FDFDFD;}
.page-transition{-moz-transition: all 0.3s ease; -o-transition: all 0.3s ease; -ms-transition: all 0.3s ease; transition: all 0.3s ease;}
.page-transition.show-me{ opacity:1; visibility:visible; padding:0;}



/* MIDDLE DIV */
.middle-div{ width:100%; height:100%; display:table; margin:0; position:relative; z-index:2;}
.middle-div .inner{ display:table-cell; vertical-align:middle;}
.parent { display: table; float:left; }
.parent > div {display: table-cell; vertical-align:middle;}

.loaderGif {
  width: 150px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zi5;
  @include transition(.3s);
  background-color: $primary;
  height: 80px;
  // small
  @media screen and (max-width: 39.938em) {
    padding-top: 10px;
    position: relative;
  }
  &.hide-for-tablet-down {
    @media screen and  (max-width: 63.938em) {
      display: none;
    }
  }
  .header_logo {
    width: 45px;
    height: 45px;
    display: block;
    margin: 0;
    background-image: url("../images/swiftfest_logo.svg"); 
    @include contain;
    text-indent: -99999px;
    @include transition(.3s);
    @include vertical_align_absolute;
    // small
    @media screen and (max-width: 39.938em) {
      margin: 15px auto;
    }
  }
}

/* HEADER MOBILE */

header.mobile {
  position: fixed;
  height: 60px;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  @media screen and (max-width: 63.938em) {
    display: block;
  }
  .header__logo {
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    float: none;
    text-indent: -999999px;
    background:url('../images/sketchapproma_logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 55px;
    height: 40px;
    margin-top: 10px;
  }
}

.container-nav-mobile {
  box-shadow: 0px 0px 200px 3px rgba(0, 0, 0, 0.6);

  .menu-primary_navigation-container {
    border-top: 1px solid $medium;
  }
}

.button-nav {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: -5px;
  z-index: $zi6;
  cursor: pointer;
  @include transition(.3s);

  .line {
    position: absolute;
    background-color: $light;
    width: 26px;
    height: 2px;
    top: 27px;
    left: 22px;
    @include transition(.3s);

    &:nth-child(2) {
      top: 35px;
    }

    &:nth-child(3) {
      top: 43px;
    }
  }

  &:hover {
    //background-color: $medium;
    .line {
      background-color: $light;
    }
  }

  &.open {
    //background-color: $medium;

    .line {
      background-color: $lightest;
      //left: 80px;

      &:nth-child(1) {
        @include rotate(45deg);
        top: 35px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        @include rotate(-45deg);
        top: 35px;
      }
    }
  }
}

.container-nav-mobile {
  position: fixed;
  overflow-y: scroll;
  background-color: $light;
  width: 80%;
  left: -100%;
  bottom: 0;
  top: 60px;
  height: auto;
  z-index: 999999;
  //bottom: 80px;
  //right: $distance;
  opacity: 0;
  visibility: hidden;
  @include transition(.3s);

  .button-nav {
    position: absolute;
    top: 40px;
    left: 390px;
    .line {
      top: 17px;
      left: 12px;
    &:nth-child(2) {
      top: 25px;
    }

    &:nth-child(3) {
      top: 33px;
    }
    }

  }

  .mobile {
    padding-top: 0px;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        background-color: transparent;
        @include transition(0.2s);
        &:hover {
          background-color: $primary;
          @include transition(0.2s);
          a {
            color: $lightest;
            @include transition(0.2s);
          }
        }
        a {
          @include general-ui($darkest);
          height: 50px;
          padding-left: 20px;
          text-decoration: none;
          display: block;
          line-height: 50px;
          width: 100%;
          position: relative;
          @include transition(0.2s);
          &:before {
            content:"";
            display: block;
            position: absolute;
            width: 5px;
            height: 50px;
            background-color: $dark;
            opacity: 0;
            left: 0;
            @include transition(0.2s);
          }
        }
        &.current-menu-item {
          a {
            color: $dark;
            &:before {
              opacity: 1;
            }
          }
        }
        &.menu-item-has-children {
          a {
            display: inline-block;
            width: 80%;
            letter-spacing: 0;
          }
        }
      }
    }

    .sub-menu {
      display: none;
      opacity: 0;
      @include transition(0.2s);
      border-left: 1px solid $light;
      li {
        a {
          width: 100%;
          font-size: 14px;
          color: $dark !important;
          a:before {
            width:2px;
          }
        }
        &.current-menu-item {
          a {
            color: $medium !important;
          }
        }
      } 
    }

    .sub-menu.open {
      display: inherit !important;
      opacity: 1;
    }

    .icon-arrow-down {
      float: right;
      z-index: 9999;
      padding: 17px;
      background-color: $light;
      color: $medium;
      cursor: pointer;
      &:hover {
        background-color:$medium;
      }
    }
  }
  &.open {
    left: 0px;
    opacity: 1;
    visibility: visible;
  }
}
