nav {
  margin: 15px 0;
  @include clearfix;
  @include transition(.3s);
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: none;
    @include clearfix;
    li {
      float: left;
      margin-left: 20px;
      a {
        @include general-ui($dark);
        text-transform: uppercase;
      }
    }
  }
  &.primary{
    margin: 25px 0 0 0;
    .menu-homepage-container {
      display: inline-block;
    }
    ul {
      float: right;
      li {
        a {
          @include general-ui($lightest);
          border-bottom: 1px solid transparent;
          @include transition(.2s);
          padding-bottom: 3px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: $lightest;
            @include transition(.2s);
          }
        }
        &:hover {
          a {
            &:after { 
              width: 100%;
              @include transition(.2s);
            }
          }
        }
      }
    }
    .container-search {
      display: inline-block;
      position: relative;
      top: -6px;
      left: 15px;
      input[type="text"] {
        border: 2px solid $primary;
        padding: 0 20px;
        height: 30px;
      }
    }
  }
  &.social {
    margin: 0!important;
    text-align: center;
    ul {
      float: none;
      padding: 0 10px;
      display: inline-block;
      li {
        float: left;
        width: 30px;
        height: 30px;
        margin-right: 20px;
        margin-left: 0;
        &:last-child {
          margin-right: 0;
        }
        a {
          width: 30px;
          height: 30px;
          display: block;
          font-family: 'sketchapprome_social';
          font-size: 0;
          text-align: center;
          color: $light;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &:before {
            font-size: 20px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: block;
            font-weight: normal;
            text-indent: 3px;
            opacity: 0.3;
            @include transition(.3s);
          }
          &[href*="facebook"]:before {
            content: "\ea90";
          }
          &[href*="twitter"]:before {
            content: "\ea96";
          }
          &[href*="instagram"]:before {
            content: "\ea92";
          }
          &[href*="linkedin"]:before {
            content: "\eaca";
          }
          &[href*="google"]:before {
            content: "\ea8b";
          }
          &[href*="youtube"]:before {
            content: "\ea9d";
          }
          &[href*="vimeo"]:before {
            content: "\eaa0";
          }
          &[href*="behance"]:before {
            content: "\eaa8";
          }
          &[href*="dribbble"]:before {
            content: "\eaa7";
          }

          &:hover {
            &:before {
              opacity: 1;
              @include transition(.3s);
            }
          }
        }
      }
    }
  }
}