.info {
	padding-bottom: 300px;
  // medium
  @media screen and (max-width: 63.938em) {
  	padding-bottom: 100px;
  }
	// small
	@media screen and (max-width: 39.938em) {
		padding-bottom: 0;
		margin-bottom: 50px;
	}
	&.after-hero {
		z-index: $zi6;
	}
	&.normal {
		margin-top: -150px;
		padding: 0px 0 50px 0;
		// medium
    @media screen and (max-width: 63.938em) {
			padding: 50px 0;
		}
	}
	.info_container {
		opacity: 0;
		padding: 80px;
		position: relative;
		background-color: $light;
		box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
		// small
		@media screen and (max-width: 39.938em) {
			padding: 50px 20px;
		}
		&.info_text_only {		
			&:after {
				content: "{*}";
				@include title(#D7D8D9);
				padding: 58px 10px 10px 34px;
				width: 180px;
				height: 180px;
				background-color: $light;
				box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
				display: block;
				position: absolute;
				right: -300px;
				bottom: -90px;
				opacity: 0;
				@include transition(.5s);
			}
			&.right_position {
				&:after {
					left: -300px;
				}
			}
		}
		&.info_with_image {
			.info_title {
				max-width: 400px;
			}
			.info_content {
				max-width: 400px;
				// medium
		    @media screen and (max-width: 63.938em) {
					max-width: 100%;
					padding-bottom: 100px;
				}
			}
		}
		.info_suptitle {
			color: $primary;
			font-size: $fs3;
			margin-bottom: 20px;
		} 
		.info_title {
			&:after {
				content: "";
				width: 100px;
				height: 5px;
				background-color: $primary;
				margin: 40px 0;
				display: block;
			}
		}
		.info_content {
			padding-left: 2px;
		}
	}
	.info_img {
		img {
			width: 100%;
			height: 360px;
			// medium
		    @media screen and (max-width: 63.938em) {
				width: 90%;
				display: block;
				margin: -140px auto 0 auto;
			}
			object-fit: cover;
			@include translate(0, -160%);
			// medium
		    @media screen and (max-width: 63.938em) {
				@include translate(0, 0);
			}
		}
	}
}