.info {
	padding-bottom: 200px;
	&.after-hero {
		margin-top: -110px;
		z-index: $zi6;
	}
	.info_container {
		opacity: 0;
		padding: 80px;
		position: relative;
		background-color: $lightest;
		box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
		&:after {
			content: "";
			width: 180px;
			height: 180px;
			background-color: $lightest;
			box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
			display: block;
			position: absolute;
			right: -300px;
			bottom: -90px;
			opacity: 0;
			@include transition(.5s);
		}
		&.right_position {
			&:after {
				left: -300px;
			}
		}
		.info_title {
			&:after {
				content: "";
				width: 30px;
				height: 5px;
				background-color: $primary;
				margin: 40px 0;
				display: block;
			}
		}
		.info_content {
			padding-left: 2px;
		}
	}
}