.info {
	padding-bottom: 200px;
	// small
	@media screen and (max-width: 39.938em) {
		padding-bottom: 0;
	}
	&.after-hero {
		margin-top: -110px;
		z-index: $zi6;
    // medium
    @media screen and (max-width: 63.938em) {
    	margin-top: -50px;
    }
	}
	&.normal {
		padding: 150px 0 50px 0;
		// small
		@media screen and (max-width: 39.938em) {
			padding: 50px 0;
		}
	}
	.info_container {
		opacity: 0;
		padding: 80px;
		position: relative;
		background-color: $light;
		box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
		// small
		@media screen and (max-width: 39.938em) {
			padding: 50px 20px;
		}
		&.info_text_only {		
			&:after {
				content: "";
				width: 180px;
				height: 180px;
				background-color: $light;
				box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
				display: block;
				position: absolute;
				right: -300px;
				bottom: -90px;
				opacity: 0;
				@include transition(.5s);
			}
			&.right_position {
				&:after {
					left: -300px;
				}
			}
		}
		&.info_with_image {
			.info_title {
				max-width: 400px;
			}
			.info_content {
				max-width: 400px;
			}
		}

		.info_title {
			&:after {
				content: "";
				width: 100px;
				height: 5px;
				background-color: $primary;
				margin: 40px 0;
				display: block;
			}
		}
		.info_content {
			padding-left: 2px;
		}
	}
	.info_img {
		img {				
			width: 100%;
			height: 360px;
			object-fit: cover;
			@include translate(0, -160%);
			// small
			@media screen and (max-width: 39.938em) {
				@include translate(0, 0);
			}
		}
	}
}