.form {
	position: relative;
	padding: 300px 0 500px 0;
	&:before {
		content: 'print("swiftfest")';
		position: absolute;
		top: 0;
		left: -50%;
		right: -50%;
		display: block;
		text-align: center;
		font-size: 200px;
		opacity: 0.05;
		font-family: $mono;
		@include vertical_align_absolute;
	}
	.form_info {
		margin-top: -200px;
		.form_title {

		}
		.form_text {
			padding-left: 2px;
			margin-top: 60px;
		}
	}
	.form_input {
		position: absolute;
		padding: 30px;
		background-color: $lightest;
		box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
		@include super_width(360px);
		@include super_height(530px);
		margin-top: -80px;
	}
}