.form {
	position: relative;
	padding: 300px 0 200px 0;
	// small
	@media screen and (max-width: 39.938em) {
		padding: 50px 0;
	}
	&:before {
		content: 'print("swiftfest")';
		position: absolute;
		left: -50%;
		right: -50%;
		display: block;
		text-align: center;
		font-size: 200px;
		opacity: 0.05;
		font-family: $PrimaryFont;
		@include vertical_align_absolute;
		top: 42%;
		z-index: -1;
		// small
		@media screen and (max-width: 39.938em) {
			z-index: -99;
		}
	}
	.form_info {
		margin-top: -400px;
		// small
		@media screen and (max-width: 39.938em) {
			margin-top: 0;
		}
		.form_title {
			&:after {
				content: "";
				width: 100px;
				height: 5px;
				background-color: $primary;
				margin: 40px 0;
				display: block;
			}

		}
		.form_text {
			padding-left: 2px;
			margin-top: 40px;
		}
	}
	.form_input {
		padding: 30px;
		background-color: $lightest;
		box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
		@include super_width(360px);
		@include super_height(530px);
		margin-top: -80px;
		// small
		@media screen and (max-width: 39.938em) {
			margin: 200px auto 0 auto;
			@include super_width(100%);
			position: static;
			z-index: 99999999999;
			margin-top: 40px;
		}
		input[type="submit"] {
			@include super_width(150px);
			position: relative;
			left: 50%;
			margin-top: 20px;
			margin-left: -75px;
		}
	}
}