.form {
	.form_description {
		position: relative;
		&:before {
			content: 'print("swiftfest")';
			position: absolute;
			top: 0;
			left: -50%;
			right: -50%;
			display: block;
			text-align: center;
			font-size: 200px;
			opacity: 0.05;
			font-family: $mono;
		}
		&:after {
			content: "";
			width: 180px;
			height: 180px;
			background-color: $lightest;
			box-shadow: 0 30px 60px 0 rgba(0,0,0,0.10);
			display: block;
			position: absolute;
			right: 150px;
			bottom: -170px;
		}
		.form_title {
			padding-top: 50px;
		}
	}
}