section.tickets {
  padding: 100px 0 20px 0;
  .ticket_container {
    padding: 50px 0 100px 0; 
    .tickets {
      position: relative;  
      .ticket_card {
        background-color: $lightest;
        box-shadow: 0 70px 70px 0 rgba(0,0,0,0.10);
        width: 100%;
        @include super_height(390px);
        text-align: center;
        padding: 20px;
        margin-bottom: 30px;
        @include translate(0,0);
        @include transition(.2s);
        &:hover {
          @include translate(0,10px);
          @include transition(.2s);
        }
        .card_title {
          margin-bottom: 10px;
          height: 60px;
          font-size: 30px;
        }
        .card_price {
          margin: 40px 0 20px 0;
          color: $primary;
          &:after {
            content: "";
            display: block;
            width: 100px;
            height: 5px;
            background-color: $primary;
            margin: 30px auto 0 auto;
          }
        }
        .card_date {
          color: $darkest;
          margin-bottom: 30px;
        }
        &.not_available {
          opacity: 0.4;
          pointer-events: none;
        }
        &.sold_out {
          pointer-events: none;
          //background-color: #E51150;
          .button {
            //background-color: #E51150;
            //border: 1px solid #E51150;
            border: none;
          }
          .sold_out_badge {
            background-image: url(../images/soldout_icon.svg);
            @include contain;
            height: 80px;
            width: 80px;
            position: absolute;
            top: 0;
            right: 0;
          }
        } 
      }
      .ticket_stack {
        width: 95%;
        height: 10px;
        position: absolute;
        background-color: #FDFDFD;
        bottom: -10px;
        left: 50%;
        @include translate(-50%,0);
        @include transition(.2s);
        &.sold_out {
          display: none;
        }
        &.not_available {
          opacity: 0.4;
        }
      }
    } 
  }
}
